node_modules
.turbo
dist
build
out
.next
coverage
.nyc_output
.DS_Store
.env
.env.*
.vscode
.idea
.github
.husky
.agent
.files
docs
docs-dist
.autodocs-cache
scripts
examples
netlify.toml
vercel.json
*.log
*.tgz
